* text=auto !eol
/AGPL.txt -text
/LICENSE.txt -text
/ReadMe.txt -text
/box.json -text svneol=unset#application/octet-stream
/build.xml -text
/codeception.yml -text
etc/atlas.db3 -text
etc/boot-config.neon -text
libs/rb-4.3.1.php -text
libs/rb-license.txt -text
libs/silex-1.3.5.phar -text svneol=unset#unset
res/config-defaults.neon -text
/sonar-project.properties -text
src/Common.php -text
src/NxSys/Applications/Atlas/Application.php -text
src/NxSys/Applications/Atlas/Web/Controllers/Examine.php -text
src/NxSys/Applications/Atlas/Web/Controllers/Home.php -text
tests/_bootstrap.php -text
tests/_data/dump.sql -text
tests/_support/AcceptanceTester.php -text
tests/_support/FunctionalTester.php -text
tests/_support/Helper/Acceptance.php -text
tests/_support/Helper/Functional.php -text
tests/_support/Helper/Unit.php -text
tests/_support/UnitTester.php -text
tests/_support/_generated/AcceptanceTesterActions.php -text
tests/_support/_generated/FunctionalTesterActions.php -text
tests/_support/_generated/UnitTesterActions.php -text
tests/acceptance.suite.yml -text
tests/acceptance/_bootstrap.php -text
tests/functional.suite.yml -text
tests/functional/BootTestCept.php -text
tests/functional/MyTest.php -text
tests/functional/_bootstrap.php -text
tests/unit.suite.yml -text
tests/unit/_bootstrap.php -text
ts-src/app.ts -text svneol=unset#application/octet-stream
ts-src/tsconfig.json -text
ts-src/types/foundation-sites/foundation-sites.d.ts -text
ts-src/types/jquery/jquery.d.ts -text
webroot/css/app.css -text
webroot/css/foundation.css -text
webroot/css/foundation.min.css -text
webroot/humans.txt -text
webroot/index.html -text
webroot/index.php -text
webroot/js/jquery-2.2.3.min.js -text
webroot/js/vendor/foundation.js -text
webroot/js/vendor/foundation.min.js -text
webroot/js/vendor/jquery.js -text
webroot/js/vendor/what-input.js -text
webroot/robots.txt -text svneol=unset#application/octet-stream
webroot/web.config -text
