* text=auto !eol
/.phpdbginit -text
/AGPL.txt -text
/LICENSE.txt -text
/ReadMe.txt -text
/box.json -text svneol=unset#application/octet-stream
/build.xml -text
/codeception.yml -text
etc/atlas.db3 -text
etc/config/config.yml -text
etc/config/search.yml -text
etc/config/svn.yml -text
libs/rb-4.3.1.php -text
libs/rb-license.txt -text
libs/silex-1.3.5.phar -text svneol=unset#unset
libs/silex-2.0.4.phar -text svneol=unset#unset
res/config-defaults.neon -text
res/templates/AtlasWelcome.twig.html -text
res/templates/Code.browse.twig.html -text
res/templates/Mainframe.twig.html -text
res/templates/components/Editor.view.twig.html -text
/sonar-project.properties -text
src/Common.php -text
src/NxSys/Applications/Atlas/Application.php -text
src/NxSys/Applications/Atlas/ExceptionType.php -text
src/NxSys/Applications/Atlas/Models/BaseModel.php -text
src/NxSys/Applications/Atlas/Models/Commit.php -text
src/NxSys/Applications/Atlas/Models/DataExceptionType.php -text
src/NxSys/Applications/Atlas/Models/Developer.php -text
src/NxSys/Applications/Atlas/Models/File.php -text
src/NxSys/Applications/Atlas/Models/Project.php -text
src/NxSys/Applications/Atlas/Models/Repository.php -text
src/NxSys/Applications/Atlas/Services/Search.php -text
src/NxSys/Applications/Atlas/Services/VCS.php -text
src/NxSys/Applications/Atlas/Services/VCSUtil/FileTree.php -text
src/NxSys/Applications/Atlas/Services/VCSUtil/Repository.php -text
src/NxSys/Applications/Atlas/Services/VCSUtil/SVN/CommandParser.php -text
src/NxSys/Applications/Atlas/Services/VCSUtil/SVN/SVNLibrary.php -text
src/NxSys/Applications/Atlas/Services/VCSUtil/VCSExceptionType.php -text
src/NxSys/Applications/Atlas/Services/XMap.php -text
src/NxSys/Applications/Atlas/Services/XMapUtil/XMapNode.php -text
src/NxSys/Applications/Atlas/Web/Controllers/BEL.php -text
src/NxSys/Applications/Atlas/Web/Controllers/Code.php -text
src/NxSys/Applications/Atlas/Web/Controllers/Components/Editor.php -text
src/NxSys/Applications/Atlas/Web/Controllers/Examine.php -text
src/NxSys/Applications/Atlas/Web/Controllers/Home.php -text
tests/_bootstrap.php -text
tests/_data/dump.sql -text
tests/_support/AcceptanceTester.php -text
tests/_support/FunctionalTester.php -text
tests/_support/Helper/Acceptance.php -text
tests/_support/Helper/Functional.php -text
tests/_support/Helper/Unit.php -text
tests/_support/UnitTester.php -text
tests/_support/_generated/AcceptanceTesterActions.php -text
tests/_support/_generated/FunctionalTesterActions.php -text
tests/_support/_generated/UnitTesterActions.php -text
tests/acceptance.suite.yml -text
tests/acceptance/_bootstrap.php -text
tests/functional.suite.yml -text
tests/functional/BootTestCept.php -text
tests/functional/MyTest.php -text
tests/functional/_bootstrap.php -text
tests/unit.suite.yml -text
tests/unit/_bootstrap.php -text
ts-src/OnxAtlas-App.ts -text svneol=unset#application/octet-stream
ts-src/tsconfig.json -text
ts-src/types/codemirror/codemirror-runmode.d.ts -text
ts-src/types/codemirror/codemirror-showhint.d.ts -text
ts-src/types/codemirror/codemirror.d.ts -text
ts-src/types/codemirror/searchcursor.d.ts -text
ts-src/types/foundation-sites/foundation-sites.d.ts -text
ts-src/types/jquery/jquery.d.ts -text
ts-src/types/systemjs/systemjs-0.18.4.d.ts -text
ts-src/types/systemjs/systemjs.d.ts -text
webroot/css/app.css -text
webroot/css/foundation.css -text
webroot/css/foundation.min.css -text
webroot/humans.txt -text
webroot/imgs/atlaslogo-128.png -text
webroot/imgs/atlaslogo.png -text
webroot/imgs/favicon.ico -text
webroot/index.html -text
webroot/index.php -text
webroot/js/types/app.d.ts -text
webroot/js/vendor/codemirror/AUTHORS -text
webroot/js/vendor/codemirror/CHANGELOG.md -text
webroot/js/vendor/codemirror/CONTRIBUTING.md -text
webroot/js/vendor/codemirror/LICENSE -text
webroot/js/vendor/codemirror/README.md -text
webroot/js/vendor/codemirror/index.html -text
webroot/js/vendor/codemirror/package.json -text
webroot/js/vendor/foundation.js -text
webroot/js/vendor/foundation.min.js -text
webroot/js/vendor/jquery-2.2.3.min.js -text
webroot/js/vendor/jquery-ui-1.12.1/AUTHORS.txt -text
webroot/js/vendor/jquery-ui-1.12.1/LICENSE.txt -text
webroot/js/vendor/jquery-ui-1.12.1/external/jquery/jquery.js -text
webroot/js/vendor/jquery-ui-1.12.1/images/ui-icons_444444_256x240.png -text
webroot/js/vendor/jquery-ui-1.12.1/images/ui-icons_555555_256x240.png -text
webroot/js/vendor/jquery-ui-1.12.1/images/ui-icons_777620_256x240.png -text
webroot/js/vendor/jquery-ui-1.12.1/images/ui-icons_777777_256x240.png -text
webroot/js/vendor/jquery-ui-1.12.1/images/ui-icons_cc0000_256x240.png -text
webroot/js/vendor/jquery-ui-1.12.1/images/ui-icons_ffffff_256x240.png -text
webroot/js/vendor/jquery-ui-1.12.1/index.html -text
webroot/js/vendor/jquery-ui-1.12.1/jquery-ui.css -text
webroot/js/vendor/jquery-ui-1.12.1/jquery-ui.js -text
webroot/js/vendor/jquery-ui-1.12.1/jquery-ui.min.css -text
webroot/js/vendor/jquery-ui-1.12.1/jquery-ui.min.js -text
webroot/js/vendor/jquery-ui-1.12.1/jquery-ui.structure.css -text
webroot/js/vendor/jquery-ui-1.12.1/jquery-ui.structure.min.css -text
webroot/js/vendor/jquery-ui-1.12.1/jquery-ui.theme.css -text
webroot/js/vendor/jquery-ui-1.12.1/jquery-ui.theme.min.css -text
webroot/js/vendor/jquery-ui-1.12.1/package.json -text
webroot/js/vendor/vs/base/worker/workerMain.js -text
webroot/js/vendor/vs/basic-languages/src/bat.js -text
webroot/js/vendor/vs/basic-languages/src/coffee.js -text
webroot/js/vendor/vs/basic-languages/src/cpp.js -text
webroot/js/vendor/vs/basic-languages/src/csharp.js -text
webroot/js/vendor/vs/basic-languages/src/css.js -text
webroot/js/vendor/vs/basic-languages/src/dockerfile.js -text
webroot/js/vendor/vs/basic-languages/src/fsharp.js -text
webroot/js/vendor/vs/basic-languages/src/go.js -text
webroot/js/vendor/vs/basic-languages/src/handlebars.js -text
webroot/js/vendor/vs/basic-languages/src/html.js -text
webroot/js/vendor/vs/basic-languages/src/ini.js -text
webroot/js/vendor/vs/basic-languages/src/jade.js -text
webroot/js/vendor/vs/basic-languages/src/java.js -text
webroot/js/vendor/vs/basic-languages/src/less.js -text
webroot/js/vendor/vs/basic-languages/src/lua.js -text
webroot/js/vendor/vs/basic-languages/src/markdown.js -text
webroot/js/vendor/vs/basic-languages/src/objective-c.js -text
webroot/js/vendor/vs/basic-languages/src/php.js -text
webroot/js/vendor/vs/basic-languages/src/postiats.js -text
webroot/js/vendor/vs/basic-languages/src/powershell.js -text
webroot/js/vendor/vs/basic-languages/src/python.js -text
webroot/js/vendor/vs/basic-languages/src/r.js -text
webroot/js/vendor/vs/basic-languages/src/razor.js -text
webroot/js/vendor/vs/basic-languages/src/ruby.js -text
webroot/js/vendor/vs/basic-languages/src/scss.js -text
webroot/js/vendor/vs/basic-languages/src/sql.js -text
webroot/js/vendor/vs/basic-languages/src/swift.js -text
webroot/js/vendor/vs/basic-languages/src/vb.js -text
webroot/js/vendor/vs/basic-languages/src/xml.js -text
webroot/js/vendor/vs/basic-languages/src/yaml.js -text
webroot/js/vendor/vs/editor/contrib/quickOpen/browser/symbol-sprite.svg -text
webroot/js/vendor/vs/editor/contrib/suggest/browser/symbol-sprite.svg -text
webroot/js/vendor/vs/editor/editor.main.css -text
webroot/js/vendor/vs/editor/editor.main.js -text
webroot/js/vendor/vs/editor/editor.main.nls.de.js -text
webroot/js/vendor/vs/editor/editor.main.nls.es.js -text
webroot/js/vendor/vs/editor/editor.main.nls.fr.js -text
webroot/js/vendor/vs/editor/editor.main.nls.it.js -text
webroot/js/vendor/vs/editor/editor.main.nls.ja.js -text
webroot/js/vendor/vs/editor/editor.main.nls.js -text
webroot/js/vendor/vs/editor/editor.main.nls.ko.js -text
webroot/js/vendor/vs/editor/editor.main.nls.ru.js -text
webroot/js/vendor/vs/editor/editor.main.nls.zh-cn.js -text
webroot/js/vendor/vs/editor/editor.main.nls.zh-tw.js -text
webroot/js/vendor/vs/language/css/cssMode.js -text
webroot/js/vendor/vs/language/css/cssWorker.js -text
webroot/js/vendor/vs/language/html/htmlMode.js -text
webroot/js/vendor/vs/language/html/htmlWorker.js -text
webroot/js/vendor/vs/language/json/jsonMode.js -text
webroot/js/vendor/vs/language/json/jsonWorker.js -text
webroot/js/vendor/vs/language/typescript/lib/typescriptServices.js -text
webroot/js/vendor/vs/language/typescript/src/mode.js -text
webroot/js/vendor/vs/language/typescript/src/worker.js -text
webroot/js/vendor/vs/loader.js -text
webroot/js/vendor/what-input.js -text
webroot/robots.txt -text svneol=unset#application/octet-stream
webroot/web.config -text
