
{% extends "Mainframe.twig.html" %}

{% block title %}Home{% endblock %}

{% block treemap %}
<div class="columns small-12">
	<div class="row">
		<div class="columns small-12">
			<div class="ctrlExplorationMap">ctrlExplorationMap</div>
		</div>
	</div>
	<div class="row">
		<div class="columns small-12">
			<div class="ctrlAdjPerspectiveScrollbar">ctrlAdjPerspectiveScrollbar</div>
		</div>
	</div>
	<div class="row">
		<div class="columns small-12">
			<div class="ctrlResizeBar">ctrlResizeBar</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var nextSize = 1;

var switchNodeSet = function(nodeData)
{
	treeNodes = $('.ctrlTreeMap').treemap("option", "nodeData");
	
	
	
	console.log(treeNodes);
	nextSize = nextSize + 0;
	if (nextSize > 1)
	{
		nextSize = 0;
	}
}


var mouseclickHandler = function(e,data) {
	var nodes = data.nodes;
	var ids = data.ids;
	
	
};	
	
	
var oTmOpts={
	dimensions: [1200,250],
	nodeBorderWidth: 1,
	animationEnabled: true,
    animationDurationMs: 400,
    animationEasing: TreemapUtils.Easing["ease-in-out"],
	labelsEnabled: true
};

oTmOpts.nodeData={
	"id": "root",
	"children": [
		{
			"id" : "root/node1",
			"size" : [0.5],
			"color": [0.5],
			"children" : [
				{
					"id" : "node1a",
					"size" : [0.75],
					"color" : [0.1]
				},
				{
					"id" : "node1b",
					"size" : [0.2],
					"color" : [0.3]
				},
				{
					"id" : "node1c",
					"size" : [0.05],
					"color" : [0.5]
				}
			]
		},
		{
			"id" : "node2",
			"size" : [0.3],
			"color": [0.7],
			"children" : [
				{
					"id" : "node2a",
					"size" : [0.45],
					"color" : [0.1]
				},
				{
					"id" : "node2b",
					"size" : [0.55],
					"color" : [0.3]
				}
			]
		},
		{
			"id" : "node3",
			"size" : [0.2],
			"color": [0.9],
			"children" : [
				{
					"id" : "node3a",
					"size" : [0.45],
					"color" : [0.1],
					"children" : [
						{
							"id" : "node3a1",
							"size" : [0.75],
							"color" : [0.1]
						},
						{
							"id" : "node3a2",
							"size" : [0.2],
							"color" : [0.3]
						},
						{
							"id" : "node3a3",
							"size" : [0.05],
							"color" : [0.5]
						}
					]
				},
				{
					"id" : "node3b",
					"size" : [0.55],
					"color" : [0.3]
				}
			]
		},
	]
};
App.getExplorationMap().setTreeMapSelector('.ctrlExplorationMap');
App.getExplorationMap().setTreeMapInitOptions(oTmOpts);
App.startExplorationMap();

$('.ctrlTreeMap').bind('treemapclick',mouseclickHandler);
</script>
{% endblock %}

{% block fileview %}
{{ render(controller('NxSys\\Applications\\Atlas\\Web\\Controllers\\Components\\Editor::view')) }}
{% endblock %}