
{% extends "Mainframe.twig.html" %}

{% block title %}Home{% endblock %}

{% block treemap %}
<div class="columns small-12">
	<div class="row">
		<div class="columns small-12">
			<div class="ctrlExplorationMap">ctrlExplorationMap</div>
		</div>
	</div>
	<div class="row">
		<div class="columns small-12">
			<div class="ctrlAdjPerspectiveScrollbar">ctrlAdjPerspectiveScrollbar</div>
		</div>
	</div>
	<div class="row">
		<div class="columns small-12">
			<div class="ctrlResizeBar">ctrlResizeBar</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var nextSize = 1;

var switchNodeSet = function(nodeData)
{
	treeNodes = $('.ctrlTreeMap').treemap("option", "nodeData");
	
	
	
	console.log(treeNodes);
	nextSize = nextSize + 0;
	if (nextSize > 1)
	{
		nextSize = 0;
	}
};


var mouseclickHandler = function(e,data) {

	var nodes = data.nodes;
	var ids = data.ids;
	
	console.log(nodes);
	console.log(ids);
	
};

var myInnerNodeHeaderLabeller = function(ctx,rect,rgb,id) {
	ctx.rect(rect[0],rect[1],rect[2],rect[3]);
	ctx.clip();
	ctx.fillStyle = '#555';
	ctx.font = '0.625em Verdana, Geneva, sans-serif';
	
	labelArr = id.split("/");
	label = labelArr[labelArr.length-1];
	
	ctx.fillText(label,rect[0],rect[1]+10);
};
var myLeafNodeBodyLabeller = function(ctx,rect,rgb,id) {
	ctx.rect(rect[0],rect[1],rect[2],rect[3]);
	ctx.clip();
	if (TreemapUtils.avgRgb(rgb) <= 200) {
		ctx.fillStyle = '#fff';
	} else {
		ctx.fillStyle = '#888';
	}
	ctx.font = '0.625em Verdana, Geneva, sans-serif';
	
	labelArr = id.split("/");
	label = labelArr[labelArr.length-1];
	ctx.fillText(label,rect[0],rect[1]+10);
};
	
	
var oTmOpts={
	dimensions: [1200,250],
	nodeBorderWidth: 1,
	animationEnabled: true,
    animationDurationMs: 400,
    animationEasing: TreemapUtils.Easing["ease-in-out"],
	labelsEnabled: true
};

oTmOpts.nodeData={
	"id": "root",
	"children": [
		{
			"id" : "root/node1",
			"size" : [0.5],
			"color": [0.5],
			"children" : [
				{
					"id" : "root/node1/a",
					"size" : [0.75],
					"color" : [0.1]
				},
				{
					"id" : "root/node1/b",
					"size" : [0.2],
					"color" : [0.3]
				},
				{
					"id" : "root/node1/c",
					"size" : [0.05],
					"color" : [0.5]
				}
			]
		},
		{
			"id" : "root/node2",
			"size" : [0.3],
			"color": [0.7],
			"children" : [
				{
					"id" : "root/node2/a",
					"size" : [0.45],
					"color" : [0.1]
				},
				{
					"id" : "root/node2/b",
					"size" : [0.55],
					"color" : [0.3]
				}
			]
		},
		{
			"id" : "root/node3",
			"size" : [0.2],
			"color": [0.9],
			"children" : [
				{
					"id" : "root/node3/a",
					"size" : [0.45],
					"color" : [0.1],
					"children" : [
						{
							"id" : "root/node3/a/1",
							"size" : [0.75],
							"color" : [0.1]
						},
						{
							"id" : "root/node3/a/2",
							"size" : [0.2],
							"color" : [0.3]
						},
						{
							"id" : "root/node3/a/3",
							"size" : [0.05],
							"color" : [0.5]
						}
					]
				},
				{
					"id" : "root/node3/b",
					"size" : [0.55],
					"color" : [0.3]
				}
			]
		},
	]
};

oTmOpts.innerNodeHeaderLabeller = myInnerNodeHeaderLabeller;
oTmOpts.leafNodeBodyLabeller = myLeafNodeBodyLabeller;

App.getExplorationMap().setTreeMapSelector('.ctrlExplorationMap');
App.getExplorationMap().setTreeMapInitOptions(oTmOpts);
App.startExplorationMap();

$('.ctrlExplorationMap').bind('treemapclick', mouseclickHandler);
</script>
{% endblock %}

{% block fileview %}
{{ render(controller('NxSys\\Applications\\Atlas\\Web\\Controllers\\Components\\Editor::view')) }}
{% endblock %}