<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        {% block head %}
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<base href="{{ global.request.getBaseURL }}/" />
            <link rel="stylesheet" href="css/foundation.min.css" />

            <link rel="stylesheet" href="css/app.css" />
            <title>{% block title %}{% endblock %} - {{app.ident}}</title>
			<script src="js/vendor/systemjs/system.js" type="application/javascript"></script>
			<script src="js/vendor/jquery-2.2.3.min.js" type="application/javascript"></script>
			<script src="js/vendor/jquery-ui-1.12.1/jquery-ui.min.js" type="application/javascript"></script>
			<script src="js/vendor/what-input.js" type="application/javascript"></script>
			<script src="js/vendor/foundation.min.js" type="application/javascript"></script>
			<script src="js/vendor/jsTreemap/jquery.ui.treemap.js" type="application/javascript"></script>
			<script src="js/OnxAtlas-App.js" type="application/javascript"></script>
	        <script type="text/javascript">
			SystemJS.config({
			   baseURL: 'js'
			  });
			SystemJS.defaultJSExtensions = true;
			</script>
	        <script type="text/javascript">var App=new OnxAtlas.App;</script>
        {% endblock %}
    </head>
    <body>
        <script type="text/javascript">App.onPageLoadBegin();</script>
		<div class="row">
			<div class="large-12 columns">
				<div id="content">{% block page %}
					<div id="headbar" class="row">
						<div id="brand" class="columns small-2"><img class="ace_logo" src="" height="10" width="10"/><span id="prjname" class="text-center">Atlas: Code Explorer</span></div>
						<div id="find" class="columns small-8"><input type="text" placeholder="Search this project" class="text-center"/></div>
						<div id="info" class="columns small-2">Info</div>
					</div>
					<div id="main-content" class="row">
						<div class="columns small-12">{% block content_full %}
							<div id="treemapp-box" class="row">
								{% block treemap %}{% endblock %}
							</div>
							<div id="file-box" class="row">
								{% block fileview %}{% endblock %}
							</div>
						{% endblock %}</div>
					</div>
				{% endblock %}</div>
			</div>
		</div>
		<div id="footer" class="row">
			<div class="columns small-12"></div>
				<small>
				{% block footer %}
					<a href="https://app.assembla.com/spaces/atlas-code-explorer/wiki">{{app.name}}</a>
					is open source. &copy; 2016 and licensed by <a href="http://nxsys.org/spaces/atlas-code-explorer/wiki/License">Nexus Systems, Inc.</a>
					Explore. Contribute. Share!
				{% endblock %}</br>
				({{ global.request.host }})
				</small>
			</div>
        </div>
        <script type="text/javascript">App.onPageLoadEnd();</script>
    </body>
</html>