<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        {% block head %}
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="css/foundation.min.css" />
            <link rel="stylesheet" href="css/app.css" />
            <title>{% block title %}{% endblock %} - {{app.ident}}</title>
			<script src="js/jquery-2.2.3.min.js" type="application/javascript"></script>
			<script src="js/vendor/what-input.js" type="application/javascript"></script>
			<script src="js/vendor/foundation.min.js" type="application/javascript"></script>
			<script src="js/app.js" type="application/javascript"></script>
        {% endblock %}
    </head>
    <body>
		<div class="row">
			<div class="large-12 columns">
				<div id="content">{% block content %}{% endblock %}</div>
			</div>
		</div>
        <div id="footer">
			<small>
            {% block footer %}
                <a href="https://app.assembla.com/spaces/atlas-code-explorer/wiki">{{app.name}}</a>
				is open source. &copy; 2016 and licensed by <a href="http://nxsys.org/spaces/atlas-code-explorer/wiki/License">Nexus Systems, Inc.</a>
				Explore. Contribute. Share!
            {% endblock %}</br>
			({{ app.request.host }})
			</small>
        </div>
    </body>
</html>